/* .padding-cont1 {
    background-color: #1d1d1d;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
} */
.home-carousel-container {
    background-color: #1d1d1d;
}
.carousel1-image {
    height: 550px;
}
.carousel1-title {
    position: absolute;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
}
.carousel1-grid {
    /* height: 560px; */
    // padding-left: 30px;
    // padding-right: 30px;
    width: 100%;
}
.pointer-cursor {
    cursor: pointer;
}

.tech-image {
    .chakraui {
        width: 200px;
        height: 50px;
        margin: auto;
    }
    .reactjs {
        width: 190px;
        height: 80px;
        margin: auto;
        margin-top: -10px;
    }
    .redux {
        width: 300px;
        height: 100px;
        margin: auto;
        margin-top: -20px;
    }
    .nodejs {
        width: 200px;
        height: 90px;
        margin: auto;
        margin-top: -22px;
    }
    .google {
        width: 170px;
        height: 50px;
        margin: auto;
        margin-top: 4px;
    }
    .facebook {
        width: 220px;
        height: 75px;
        margin: auto;
        margin-top: -10px;
    }
    .swiperjs {
        width: 190px;
        height: 70px;
        margin: auto;
        margin-top: -5px;
    }
    .webpack {
        width: 250px;
        height: 95px;
        margin: auto;
        margin-top: -22px;
    }
    
}

/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .carousel1-image {
        height: 200px;
    }
    .carousel1-title {
        padding: 10px;
        font-size: 18px;
    }
}
@media only screen and (max-width: 450px) {
    .carousel1-title {
        max-width: 300px;
    }
}
@media only screen and (max-width: 300px) {
    .carousel1-title {
        max-width: 200px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carousel1-image {
        height: 300px;
    }
    .carousel1-title {
        padding: 10px;
        font-size: 25px
    }
    .tech-image {
        .chakraui {
            width: 180px;
            height: 50px;
            margin: auto;
        }
        .reactjs {
            width: 160px;
            height: 70px;
            margin: auto;
            margin-top: -8px;
        }
        .redux {
            width: 280px;
            height: 95px;
            margin: auto;
            margin-top: -19px;
        }
        .nodejs {
            width: 170px;
            height: 90px;
            margin: auto;
            margin-top: -20px;
        }
        
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carousel1-image {
        height: 400px;
    }
    .carousel1-title {
        padding: 30px;
        font-size: 35px
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .carousel1-image {
        height: 550px;
    }
    .carousel1-title {
        padding: 40px;
        font-size: 45px
    }
}