.companies-container {
    padding: 10px 40px 10px 40px;
    text-align: center;
    transform: translateY(-115%);
}
.companies-image-container {
    max-width: 340px;
    background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
    backdrop-filter: blur(10px);
    border-radius: 3px;
    padding: 5px;
    margin: auto;
    max-height: 100%;
}
.companies-image {
    margin: auto;
}
.companies-item:focus {
    outline: none;
}