.companies-container {
    text-align: center;
    transform: translateY(-70%);
    height: 180px;
    // background-color: blue;
}
.companies-image-container {
    // width: 340px;
    // background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
    // backdrop-filter: blur(10px);
    border-radius: 3px;
    // padding: 5px;
}
.companies-image {
    margin: auto;
}
.companies-item:focus {
    outline: none;
}
.companies-item {
    .companies-image {
        width: 500px;
        height: 100px;
        background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
        backdrop-filter: blur(10px);
        border-radius: 3px;
        // transform: translate(50%, 50%);
        // background-color: red;
    }
}


/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .companies-container {
        transform: translateY(-65%);
    }
    .companies-item {
        .companies-image {
            width: 300px;
            height: 80px;
        }
    }
}
@media only screen and (max-width: 550px) {
    .companies-container {
        transform: translateY(-65%);
    }
}
@media only screen and (max-width: 485px) {
    .companies-container {
        transform: translateY(-70%);
    }
    .companies-item {
        .companies-image {
            width: 200px;
            height: 60px;
        }
    }
}
@media only screen and (max-width: 480px) {
    .companies-container {
        transform: translateY(-80%);
    }
    .companies-item {
        .companies-image {
            width: 180px;
            height: 60px;
        }
    }
}
@media only screen and (max-width: 400px) {
    .companies-container {
        transform: translateY(-80%);
    }
    .companies-item {
        .companies-image {
            width: 150px;
            height: 50px;
        }
    }
}
@media only screen and (max-width: 360px) {
    .companies-container {
        transform: translateY(-80%);
    }
    .companies-item {
        .companies-image {
            width: 130px;
            height: 40px;
        }
    }
}
@media only screen and (max-width: 300px) {
    .companies-container {
        transform: translateY(0%);
    }
    .companies-item {
        .companies-image {
            width: 100px;
            height: 30px;
        }
    }
}
@media only screen and (max-width: 330px) {
    .companies-container {
        transform: translateY(-90%);
    }
}
@media only screen and (max-width: 300px) {
    .companies-container {
        transform: translateY(-100%);
    }
}
@media only screen and (max-width: 260px) {
    .companies-container {
        transform: translateY(-120%);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .companies-container {
        transform: translateY(-55%);
    }
    .companies-item {
        .companies-image {
            width: 300px;
            height: 80px;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .companies-container {
        transform: translateY(-60%);
    }
    .companies-item {
        .companies-image {
            width: 400px;
            height: 100px;
        }
    }
}
@media only screen and (min-width: 1600px) {
    .companies-container {
        transform: translateY(-50%);
    }
}